<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BruSoft.VS2P4.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BruSoft.VS2P4.UnitTests.Properties.Settings>
            <setting name="PerforceServer" serializeAs="String">
                <value>172.17.100.149:1666</value>
            </setting>
            <setting name="PerforceUser" serializeAs="String">
                <value>Dale</value>
            </setting>
            <setting name="PerforceWorkspace" serializeAs="String">
                <value>Dale_DaleBPC_Sandbox_Main</value>
            </setting>
            <setting name="TestPath" serializeAs="String">
                <value>d:\SandboxStream\main\Packages\Test\</value>
            </setting>
        </BruSoft.VS2P4.UnitTests.Properties.Settings>
    </userSettings>
</configuration>