<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.diagnostics>
    <sharedListeners>
      <add name="TraceFile" traceOutputOptions="None" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace_output.txt" />
      <add name="DefaultTraceListener" type="System.Diagnostics.DefaultTraceListener" />
    </sharedListeners>
    <switches>
      <!-- The P4CacheTracing switch is defined for tracing the activity of P4Cache. -->
      <add name="P4CacheTracing" value="Verbose"/>
      <!-- The VS2P4PackageCommandTracing switch is defined for tracing command enabling in VS2P4Package -->
      <add name="VS2P4PackageCommandTracing" value="Verbose"/>
    </switches>
    <trace>
      <listeners>
        <add name="TraceFile" />
        <add name="DefaultTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
